

.forecast-details__date {
  align-self: flex-start;
  padding: 5px 20px ;
  font-size: 1rem;
}

.forecast-details__body {
  display: flex;
  margin-bottom: 50px;
}

.forecast-details__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 100px;
  padding: 20px;
  margin-top: 40px;
}

.forecast-details__body__text {
  font-size: 1rem;
  line-height: 1.8;
}

.forecast-details__description {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

@media (min-device-width: 769px) and (max-device-width: 900px) {
  .forecast-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .forecast-details__body {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px;
  }

  .forecast-details__date {
    align-self: center;
    font-size: 1.4rem;
    padding: 0;
    margin: 20px;
    margin-left: 0;
  }

  .forecast-details__body__text {
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
  }

  .forecast-details__description {
    margin-top: 10px;
    font-size: 1.5rem;;
  }
}
